/analysis/.Rhistory
/phd-thesis.blg
/phd-thesis.aux
/phd-thesis.bbl
/phd-thesis.fdb_latexmk
/phd-thesis.fls
/phd-thesis.idx
/phd-thesis.ilg
/phd-thesis.ind
/phd-thesis.lof
/phd-thesis.log
/phd-thesis.lot
/phd-thesis.out
/phd-thesis.pdf
/phd-thesis.toc
/phd-thesis.synctex.gz
/_minted-phd-thesis/